/* Estilos para o corpo da página */
body {
    font-family: TT Commons Pro Expand, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h1, label, input, footer{
    font-family: 'TT Commons Pro Expand', sans-serif;
    font-weight: normal;
} 


/* Estilo para o plano de fundo da logo */
.fundo-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca a logo atrás do conteúdo */
    overflow: hidden; /* Garante que a imagem não cause rolagem */
}

/* Estilo para o header */
header {
    text-align: center;
    color: white; /* Cor do texto do cabeçalho */
    padding: 30px;
    font-weight: normal;
}

/* Estilo para o formulário de login */
form {
    max-width: 600px;
    margin: auto;
    padding: auto;
    border-radius: 5px;
    color: white;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: normal;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 1%;
    margin-bottom: -20px;
    border:rgba(255, 255, 255, 0.0) ;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.0);
    color: white;
    font-size: medium;

}

button {
    background-color:#694431;
    color: #fff;
    border: none;
    padding: 10px 35px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 60px;
   
}


.container {
    text-align: center;
}


/* Estilos para os grupos de formulário */
.form-group {
    margin-bottom: 20px;
}

/* Estilos para a linha horizontal */
.line {
    height: 2px;
    background-color: #fffdfd;
    margin: 10px 0;
}
.cadastro {
    height: 1px;
    background-color: #ffffff;
    margin: 10px ;
    text-align: center;
    
}
    
    
/* Outros estilos de formulário conforme necessário */

footer {
    color: white; /* Cor do texto do rodapé */
    text-align: right; /* Alinha o texto à direita */
    padding: 10px; /* Espaçamento interno para o texto */
    margin-right: 10px; /* Espaçamento da borda direita */
    margin-top: 15%;
    font-family:  TT Commons Pro Expand;
}


/* Estilos para o plano de fundo do vídeo */
.img-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

/* Estilos para o vídeo de fundo */
#img-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


